<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/surroundings.html" data-template-at="content-container">
    <div data-template="confluence:confluence" data-template-id=""/>
    <script>$.getScript('js/jquery.lazyload.min.js',function(){$('.imgLazy').lazyload({});});</script>
</div>
