<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/surroundings.html" data-template-at="content-container">

    <div class="row">
        <div class="col-sm-9">

          <p class="text-muted">
            <div data-template="confluence:confluence" data-template-id="58501833"/>
          </p> <br/>

<!--
          <div class="alert alert-info">
            <strong>Heads up!</strong>
          </div> <br/>
-->

          <!-- Alert message -->
          <div class="alert" id="form_message" role="alert"/>

          <!-- Please carefully read the README.txt file in order to setup
               the PHP contact form properly -->
          <form id="form_sendemail">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="sr-only" for="email">Email address</label>
                  <input type="email" name="email" class="input-lg form-control" id="email" placeholder="E-mail" data-original-title="" title=""/>
                  <span class="help-block"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="sr-only" for="name">Name</label>
                  <input type="text" name="name" class="input-lg form-control" id="name" placeholder="Full Name" data-original-title="" title="" data-template="lang:translate" data-template-content="contactName"/>
                  <!--<input type="text" name="fullname" class="input-lg form-control" id="name" placeholder="Full Name" data-original-title="" title=""/>
                  <span class="help-block"/>-->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="message">Message</label>
              <!--<textarea name="message" class="input-lg form-control" rows="5" id="message" placeholder="Message"/>-->
              <textarea name="message" class="input-lg form-control" rows="5" id="message" placeholder="Message" data-template="lang:translate" data-template-content="contactMessage"/>
              <span class="help-block"/>
            </div>
            <!-- /reCAPTCHA -->
            <div class="form-group" id="form-captcha">
              <div class="g-recaptcha" data-sitekey="6LdAGzcUAAAAALDwgYCtb09wDoHMyzUPXt-Tc9dw"/>
              <span class="help-block"/>
            </div>
            <!--<button type="submit" class="btn btn-lg btn-primary">Send Message</button>-->
            <button type="submit" class="btn btn-lg btn-primary" data-template="lang:translate" data-template-content="contactButton">Send Message</button>
          </form>

        </div>
        <div class="col-sm-3">
          <div data-template="confluence:confluence" data-template-id="58499710"/>
          <br/>
          <p class="text-muted">
            Website: <a href="#">https://www.architrave.eu/</a>
          </p>

        </div>
    </div> <!-- / .row -->
</div>
