<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/surroundings.html" data-template-at="content-container">
    <div data-template="confluence:confluence" data-template-id="58502225"/>
    <div class="row isotope-container">
        <div class="col-sm-4 col-lg-3 isotope-item">
          <a href="#" class="thumbnail">
            <img src="https://wiki.de.dariah.eu/download/attachments/58504335/Knesebeck_Cover.jpg" alt="..."/>
            <div class="caption">
            <div data-template="confluence:confluence" data-template-id="58504297"/>
            </div>
          </a>
        </div>
        <div class="col-sm-4 col-lg-3 isotope-item">
          <a href="#" class="thumbnail">
            <img src="https://wiki.de.dariah.eu/download/attachments/58504335/Pitzler_Cover.jpg" alt="..."/>
            <div class="caption">
              <div data-template="confluence:confluence" data-template-id="58504301"/>
            </div>
          </a>
        </div>
        <div class="col-sm-4 col-lg-3 isotope-item">
          <a href="#" class="thumbnail">
            <img src="https://wiki.de.dariah.eu/download/attachments/58504335/FA%20Harrach%20HS134%2C%20fol.456.jpg" alt="..."/>
            <div class="caption">
              <div data-template="confluence:confluence" data-template-id="58504304"/>
            </div>
          </a>
        </div>
        <div class="col-sm-4 col-lg-3 isotope-item">
          <a href="#" class="thumbnail">
            <img src="https://wiki.de.dariah.eu/download/attachments/58504335/Neumann_Cover.jpg" alt="..."/>
            <div class="caption">
                <div data-template="confluence:confluence" data-template-id="58504311"/>
            </div>
          </a>
        </div>
    </div>
    <div class="row isotope-container">
        <div class="col-sm-4 col-lg-3 isotope-item">
          <a href="#" class="thumbnail">
            <img src="https://wiki.de.dariah.eu/download/attachments/58504335/Altertumsverein_Muenster-000.jpg" alt="..."/>
            <div class="caption">
              <div data-template="confluence:confluence" data-template-id="58504306"/>
            </div>
          </a>
        </div>
        <div class="col-sm-4 col-lg-3 isotope-item">
          <a href="#" class="thumbnail">
            <img src="https://wiki.de.dariah.eu/download/attachments/58504335/Sturm_cover.jpg" alt="..."/>
            <div class="caption">
              <div data-template="confluence:confluence" data-template-id="58504309"/>
            </div>
          </a>
        </div>
    </div>
</div>
