<!-- FOOTER
    ================================================== -->
<footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">

            <div class="footer__col">
              <h3 class="footer__header">ARCHITRAVE</h3>
              <p>
                Art and Architecture in German Travel Accounts to Paris and Versailles in the Baroque Era
              </p>
              <ul class="social-icons social-icons_sm">
                  <li class="twitter">
                    <a href="#">
                                        <i class="fa fa-twitter"/>
                                    </a>
                  </li>
                  <li class="rss">
                    <a href="https://architrave.hypotheses.org" target="_blank">
                                        <i class="fa fa-rss"/>
                                    </a>
                  </li>
              </ul>
            </div>

          </div>

          <div class="col-xs-6 col-sm-2">

          </div>

          <div class="col-xs-6 col-sm-2">
              <!-- Hier war vorher Learn More... -->
          </div>

          <div class="col-xs-12 col-sm-4">
              <!-- Hier war vorher email subscribe     <item label="Rights of Use" label-de="Nutzungsrechte" label-fr="Rights of Use" link="content.html?id=58499688"/>-->
              <div class="footer__col">
              <h3 class="footer__header">
                Information
              </h3>
              <ul class="footer__content">
                <li>
                            <a href="contact.html">
                                <span data-template="lang:translate" data-template-content="Contact"/>
                            </a>
                        </li>
                <li>
                            <a href="content.html?id=58504520">
                                <span data-template="lang:translate" data-template-content="Imprint"/>
                            </a>
                        </li>
                <li>
                            <a href="content.html?id=58499688">
                                <span data-template="lang:translate" data-template-content="Rights of Use"/>
                            </a>
                        </li>
              </ul>
            </div>

          </div>

        </div> <!-- / .row -->

        <hr class="footer__hr"/>

        <div class="row">
          <div class="col-sm-6">

            <p>
              ARCHITRAVE 2017. All rights reserved.
            </p>

          </div>
        </div> <!-- / .row -->

      </div> <!-- / .container -->
    </footer>
