<head class="html_boxed">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="ARCHITRAVE"/>
    <link rel="shortcut icon" href="assets/favicon/favicon.ico"/>

    <title>ARCHITRAVE</title>

    <!-- CSS Plugins -->
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- CSS Global -->
    <link href="assets/css/styles.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic" rel="stylesheet" type="text/css"/>

    <!-- JavaScript
    ================================================== -->

    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"/>
    <script src="assets/bootstrap/js/bootstrap.min.js"/>

    <!-- JS Plugins -->
    <script src="assets/plugins/scrolltopcontrol/scrolltopcontrol.js"/>
    <script src="assets/plugins/contact-form/contact.js"/>
    <script src="https://www.google.com/recaptcha/api.js"/>

    <!-- JS Custom -->
    <script src="assets/js/custom.js"/>
  </head>
