<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
        <!-- WELCOME MESSAGE
    ================================================== -->
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">

          <div class="row">
            <div class="col-xs-12">
              <div data-template="confluence:confluence" data-template-id="58498992"/>
              <!--<img src="assets/img/welcome.jpg" class="img-responsive img-article pull-left" alt="..."/>-->
             </div>

            <!--<script>$.getScript('js/jquery.lazyload.min.js',function(){$('.imgLazy').lazyload({});});</script>-->

          </div> <!-- / .row -->

        </div>
        <div class="col-sm-5 col-md-5 col-lg-4">
            <div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/info_sidebar.html" data-template-at="content-container">
            </div>
        </div>
      </div> <!-- / .row -->
</div>
