<div>
    <h1 class="block-header">
    <span data-template="lang:translate" data-template-content="LastUpdates"/>
</h1>

  <!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
      <a href="#lorem" aria-controls="lorem" role="tab" data-toggle="tab">
        Blog
      </a>
    </li>
    <li role="presentation">
      <a href="#ipsum" aria-controls="ipsum" role="tab" data-toggle="tab">
        <span data-template="lang:translate" data-template-content="Publications"/>
      </a>
    </li>
    <li role="presentation">
      <a href="#dolor" aria-controls="dolor" role="tab" data-toggle="tab">
        <span data-template="lang:translate" data-template-content="Events"/>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="lorem">
    <div data-template="blog:readBlog"/>
<!--
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_1.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Story Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
          <p>Nov 7, 2017 15:00</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_2.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Story Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_3.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Story Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>-->

    </div>
    <div role="tabpanel" class="tab-pane" id="ipsum">

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_3.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Publication Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_1.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Publication Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_2.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Publication Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="dolor">

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_2.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Event Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_3.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Event Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/img/blog_1.jpg" alt="..."/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Event Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sed reprehenderit, ex. Quisquam unde dolorum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
