<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"/>
        <span class="icon-bar"/>
        <span class="icon-bar"/>
      </button>

      <a class="navbar-brand" href="index.html">ARCHITRAVE</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar_main">

      <ul class="nav navbar-nav navbar-left" data-template="templates:include" data-template-path="/../../sade-projects/textgrid/templates/tmpl1/nav_include.html">
        <!-- Content loaded here from navigation.xml -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe"/>
            <span data-template="lang:translate" data-template-content="Language"/> <span class="caret"/>
          </a>
          <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="insertParam('lang','de');">Deutsch</a>
                <a href="#" onclick="insertParam('lang','en');">English</a>
                <a href="#" onclick="insertParam('lang','fr');">Français</a>
            </li>
          </ul>
         </li>
      </ul>

      <form class="navbar-form navbar-search navbar-right" action="results.html" method="GET">
        <div data-template="lang:translate" data-template-content="Search">
        <!--<div class="form-group">
          <input id="searchInput" type="text" class="form-control" placeholder="  Search" data-template="templates:form-control" name="q"/>
          <input id="searchLang" type="hidden" name="lang" value="en"/>-->
        </div>
        <button class="btn btn-default" type="submit">
          <i class="fa fa-search"/>
          <span data-template="lang:translate" data-template-content="Search"/>
        </button>
      </form>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
