<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/surroundings.html" data-template-at="content-container">
    <h1 class="block-header alt">
       <span>We're sorry...</span>
    </h1>
    <div class="col-sm-12 text-center">
        <div class="error-page__icon"/>
        <h1 class="error-page__header text-muted">
          The page you were looking for is not available in English.
        </h1>
        <p class="lead text-muted">
          Please choose one of the following options to see the content in the language of your second choice.
        </p>
        <div class="row">
            <a href="index.html" class="btn btn-lg btn-primary" style="margin-right:20px">
              Switch to French
            </a>
            <a href="index.html" class="btn btn-lg btn-primary" style="margin-left:20px">
              Switch to German
            </a>
        </div>
    </div>
</div>
