<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/surroundings.html" data-template-at="content-container">
    <h1 class="block-header alt">
        <span data-template="lang:translate" data-template-content="Results of Search"/>
    </h1>
    <div class="col-sm-5">
        <form class="form-search">
            <div class="form-group">
              <label class="sr-only">Search</label>
              <input id="searchForm" type="search" class="input-lg form-control" placeholder="Search" value="asd" name="q"/>
              <input data-template="lang:translate" data-template-content="SearchResults"/>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">
              <i class="fa fa-search"/>
            </button>
        </form>
    </div>
    <!-- Load search Query into search input -->
    <script>
        function getSearchQuery() {
            var q = document.location.search.split("q=")[1];
            if (q !== undefined) { q = q.split("&amp;")[0]; return q }
            else {return ""}
        }
        function passQuery() {
            var q = getSearchQuery();
            document.getElementById("searchInput").value=q;
            document.getElementById("searchForm").value=q;
        }
        passQuery();
    </script>
</div>
