<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div id="wrapper">
        <div id="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="tmpllist">
                            <ul>
                                <li class="animated slideInLeft first">
                                    <span style="font-weight: bolder;">Theodor Fontane: Notizbücher</span>
                                </li>
                                <li class="animated slideInLeft second hidden-xs">
                                    <span style="font-size: smaller;white-space: nowrap;">Digitale genetisch-kritische und kommentierte Edition</span>
                                </li>
                                <li class="animated slideInLeft third">
                                    <span style="font-size: smaller;white-space: nowrap;">Hrsg. von Gabriele Radecke</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="block-header">
                        <h2>
                            <span class="title">Willkommen</span>
                            <span class="decoration"/>
                            <span class="decoration"/>
                            <span class="decoration"/>
                        </h2>
                    </div>
                    <p data-template="mviewer:show" data-template-id="startseite.md"/>
                    <br/>
                    <a href="content.html?id=ueber_das_projekt.md">
                        <button type="button" class="btn btn-default btn-md btn-block">Über das Projekt</button>
                    </a>
                    <a href="fontane-projektflyer.pdf" target="_blank">
                        <button type="button" class="btn btn-default btn-md btn-block">Projektflyer</button>
                    </a>
                    <a href="https://www.youtube.com/watch?v=a6CAdRiMIKg" target="_blank">
                        <button type="button" class="btn btn-default btn-md btn-block">Interview zur digitalen Notizbuch-Edition</button>
                    </a>
                    <br/>
                    <!-- shows messages regarding TextGrid Services -->
                    <div data-template="f-misc:textgridStatus"/>

                    <div class="info-board info-board-orange">
                        <h4>Information</h4>
                        <p>Am 6. Oktober 2016 wurde die <a href="/doku.html">Editorische Gesamtdokumentation</a> in einer Beta-Version publiziert.
                        Sie umfasst das Gesamtkonzept der digitalen Fontane-Edition aufgrund der etwa 10.000 Notizbuchseiten.</p>
                        <p>Am 14. Juli 2016 wurden die Notizbücher <a href="kaesten.html?n=c5"><em>C5</em></a> und <a href="kaesten.html?n=c6">
                          <em>C6</em></a> in einer <em>Beta</em>-Version veröffentlicht (Digitalisate, Transkription, TEI/XMl-Ansicht, Überblickskommentar, Inhaltsverzeichnis, Datierungen und Entitäten).</p>
                        <p>Am 8. Dezember 2015 wurde das Notizbuch <a href="kaesten.html?n=c7">
                                <em>C7</em>
                            </a> in einer <em>Beta</em>-Version veröffentlicht (Digitalisate, Transkription, TEI/XML-Ansicht, Inhaltsverzeichnis).</p>
                    </div>
                </div><!-- Last updated
        ================== -->
                <div class="col-md-4">
                    <div class="block-header">
                        <h2>
                            <span class="title">Neuigkeiten</span>
                            <span class="decoration"/>
                            <span class="decoration"/>
                            <span class="decoration"/>
                        </h2>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#pub" data-toggle="tab">Publikationen</a>
                        </li>
                        <li>
                            <a href="#preas" data-toggle="tab">Vorträge</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pub">
                            <div class="media">
                                <div class="media-body">
                                    <a href="http://www.uni-goettingen.de/de/publikationen/303721.html"> Übersicht </a>
                                </div>
                                <ul>
                                    <li data-template="app:publications"/>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="preas">
                            <div class="media">
                                <div class="media-body">
                                    <a href="http://www.uni-goettingen.de/de/vortr%C3%A4ge-und-pr%C3%A4sentationen/303717.html"> Übersicht </a>
                                </div>
                                <ul>
                                    <li data-template="app:presentations"/>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
