<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row" style="white-space:nowrap;">
                <div id="nb-title" class="hidden-xs hidden-sm col-md-4">
                    <h1 class="animated slideInLeft">
                        <span>Literatur- und Siglenverzeichnis</span>
                    </h1>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <h1 class="animated slideInLeft">
                        <span id="box1-tabs"/>
                    </h1>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h1 class="animated slideInLeft">
                        <span id="box2-panels"/>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="helperUnderSectionHeader" style="height: 75px;"/>
    <div data-template="mviewer:litvz" data-template-id="index.md"/>
    <script>
        $( document ).ready(function() {
            if( getParameter("id") )
                {
                    var pos=$("#"+getParameter("id")).offset().top - 150;
                    $("html, body").animate({ scrollTop: pos }, 1500);
                }

            var first=$('.nav-tabs &gt; .active').text();
            $('#box1-tabs').text(first);
            var second=$('.collapse.in').parent().children('.panel-heading').text();
            $('#box2-panels').text(second);

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $('#box1-tabs').empty();
                $('#box2-panels').empty();
                var first= e.target.textContent;
                $('#box1-tabs').text(first);
            })

            $('#accordionA').on('shown.bs.collapse', function (e) {
                $('#box2-panels').empty();
                var second=e.target.parentNode.firstElementChild.innerText;
                $('#box2-panels').text(second);
            })
        });
    </script>
</div>
