<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row" style="white-space:nowrap;">
                <div id="nb-title" class="hidden-xs hidden-sm col-md-4">
                    <h1 class="animated slideInLeft">
                        <span>Register</span>
                    </h1>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <h1 class="animated slideInLeft">
                        <span id="register-tab"/>
                    </h1>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h1 class="animated slideInLeft">
                        <span id="register-panel"/>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="helperUnderSectionHeader" style="height: 75px;"/>
    <div data-template="mviewer:show" data-template-id="register.xml" data-template-view="register"/>
    <script>

        var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&amp;'),
            sParameterName,
            i;

        for (i = 0; i &lt; sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
        };
        $( document ).ready(function() {
            var entity=getUrlParameter('e');
            var pos=$("#"+entity).offset().top - 150; $("html").animate({ scrollTop: pos }, 1500);
            var first=$('.nav-tabs &gt; .active').text();
            $('#box1-tabs').text(first);
            var second=$('.collapse.in').parent().children('.panel-heading').text();
            $('#box2-panels').text(second);

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $('#box1-tabs').empty();
                $('#box2-panels').empty();
                var first= e.target.textContent;
                $('#box1-tabs').text(first);
            })

            $('#accordionA').on('shown.bs.collapse', function (e) {
                $('#box2-panels').empty();
                var second=e.target.parentNode.firstElementChild.innerText;
                $('#box2-panels').text(second);
            })
        });
    </script>
</div>
