<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
  <div>
      <div style="min-height:50px;"/>
      <div class="container">
          <div data-template="app:tble"/>
          <hr/>
          <p>Diese Anwendung funktioniert nur, wenn das Bild mit 600dpi aufgenommen wurde. Die alten Scans sind untauglich, genauso wie die sehr breiten Scans, die aufgeklappte Beilagen/Einklebungen zeigen.</p>
      </div>
  </div>
  <script>
  $( '#tbleImage' ).on( 'click', function( e ) {
  var x = e.pageX - this.offsetLeft;
  var y = e.pageY - this.offsetTop;

  $( '#coordinates' ).html('x: ' + x / 236 +'cm, y: '+ y / 236 + 'cm');
  $( '#margin' ).html('margin-left: ' + x / 236 +'cm');
  });
  </script>
</div>
