<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:init">
    <div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
        <h2>Änderungen an der Menüstruktur</h2>
        <div class="nav:edit"/>
    </div>
</div>